extends layout

block content
  h1= title

  form(id='ZodiacForm', action="/resource/zodiacs", method="POST")
    div.form-group
      label.zodiacAttr(for='zodiac_name') Zodiac name 
      input#zodiac_name(type='text', name='zodiac_name')
    div.form-group
      label.zodiacAttr(for='zodiac_meaning') Zodiac meaning 
      input#zodiac_meaning(type='text', name='zodiac_meaning')
    div.form-group
      label.zodiacAttr(for='lucky_number') Lucky number 
      input#lucky_number(type='number', name='lucky_number')
    input(type="submit")

  script.
    document.forms['ZodiacForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });